.class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: #f9fbfd;
    border: 1px solid #dedede;
    font-size: 40px;
    font-weight: 600;
    padding-left: 20px;

}

.class p{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.content{
    width: 75%;
    height: 100%; 
}
.roadmap{
    width: 25%;
    height: 100%;
}

.join-class{
    width: 100%;
    height: 65px;
    background: #4b0dba;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;

}
.title{
 
    border: 1px solid #dedede;
    margin-top: 10px;
    width: 100%;
    height: 350px;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: 400;
    color: #7a7a7a;
    box-sizing: border-box; 
}

.topic {
    border-bottom: 1px solid #dedede;
    margin-bottom: 5px;
    color: #555a8f;
}

.topic p{
    font-weight: bold;
    font-size: medium;
    color: #555a8f;
    
}

.text p{
    margin: 0px 0px 0px 0px;
    margin-left: 30px;
}

.cont{
    font-weight: bold;
}
.pre{
    font-weight: bold;
}

.nopre{
    margin-left: 30px;
}
.activity{
    font-size: 25px;
    color: #555a8f;
    font-weight: 500;
}

.activity-link a{
    height: 100px;
    width: 100%;
    color: #555a8f;
    text-decoration: none;
    border: 2px solid #dedede;
}
.roadmap{
    border: 1px solid #dedede;
    margin-top: 2px;
    
    
}
.circle{
    width: 35px;
    height: 35px;
    background: #4b0dba;
    border-radius: 50%;
}
.session{
    color: #7a7a7a;
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 5px;
}
.circle-container{
   display: flex;
   flex-wrap: wrap;
   
       
    
}
.circle{
    margin-left: 14px;
    margin-top: 5px;
     
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.circle a{
    color: #dedede;
    font-weight: bold;
    font-size: 15px;

    text-decoration: none;
}
.adittional{
    border: 1px solid #dedede;
    margin-left: 2px;
    margin-top: 5px;
    color: #7a7a7a;
}